# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UserData\z0047w8e\OneDrive - Siemens AG\Documents\work\temp\pytest_xdist_example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
